body {
    overflow-x: hidden;
    background-image: url("../images/full-bloom.png");
    background-repeat: repeat;
    position: static;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif ;
    width:100%;
}
header{
    position:static;
    background-color:white;
    height: 58px;
    border-bottom: 1px solid #D5D5D3;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.toolbar{
    padding: 20px 30px 19px;
    margin:0px 100px 0px 100px; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
#name{
    background-color: #4aaaa5;
    color: white;
    font-size: larger; 
    width: 125px;
}
#links{
    position: absolute;
    right: 0px;
    top:0px;
    padding:20px 10px 19px 10px;
}
a{
    padding: 4px;
    border-right: 1px solid #cccccc; 
}
a:link {
    color: #949597;
    text-decoration: none;
  }
  
a:visited {
    color: #949597;
  }
  
a:hover {
    color: #4aaaa5;
  }
.box{
    position:static;
    
    margin: 50px auto;
    background-color: white;
    /* position:relative; */
    width: 960px;
    /* height: 500px; */
    border-style: solid;
    border-width: 1px;
    border-color: #D5D5D3;
}
h1{ 
    padding: 0px 0px 20px 0px;
    margin: 10px 20px 20px 20px;
    border-bottom: 1px solid #D5D5D3;
    color: #4aaaa5;
    font-size: larger;
    font-weight:bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.content{
    margin:0 auto;
    padding: 20px 10px 20px 10px;
    /* width: 930px; */
    
}
img{
    height: 190px;
    width: 190px;
    float: left;
    padding: 10px 20px 10px 20px;
}
p{
    padding: 10px;
    margin: 10px;
}
footer{
    position: sticky;
    height: 50px;
    width:100%;
    background-color: grey;
    border-top: 5px solid #4aaaa5;
    color:white;
    text-align: center;
    font-size:xx-small;
    padding: 10px;
}
.wrapper {
    min-height: calc(100vh - 50px);
}
