body {
    overflow-x: hidden;
    background-image: url("/Users/alexisbounds/Documents/holding-tank/basic-portfolio/basic-portfolio/assets/full-bloom/full-bloom.png");
    position: static;
    color: #777777;
}
header{
    position:static;
    margin:0px;
    background-color:white;
    width: 960px;
    width:100%;
    height: 58px;
    border-bottom: 1px solid #D5D5D3;
}
.toolbar{
    background-color: white;
    position: relative;
    /* overflow: clp; */
    padding: 20px 30px 19px;
    margin:0px 100px 0px 100px; 
    
}
#name{
    float:left;
    background-color: #4aaaa5;
    color: white;
    font-size: larger; 
}
#links{
    float: right;
    padding:20px 10px 19px 10px;
}
a:link {
    color: #949597;
  }
  
a:visited {
    color: #949597;
  }
  
a:hover {
    color: #4aaaa5;
  }

/* .clearfix::after {
    content: "";
    clear: both;
    display: block;
}  */
.box{
    position:static;
    /* padding: 20px 30px 19px; */
    margin: 50px auto;
    background-color: white;
    /* position:relative; */
    width: 960px;
    /* height: 500px; */
    border-style: solid;
    border-width: 1px;
    border-color: #D5D5D3;
}
h1{ 
    padding: 0px 0px 20px 0px;
    margin: 10px 20px 20px 20px;
    border-bottom: 1px solid #D5D5D3;
    color: #4aaaa5;
    font-size: larger;
    font-style: bold;
}
.content{
    margin:0 auto;
    padding: 20px 10px 20px 10px;
    /* width: 930px; */
    
}
img{
    height: 190px;
    width: 190px;
    float: left;
    padding: 10px 20px 10px 20px;
}
p{
    padding: 10px;
    margin: 10px;
}
form{
    margin: 10px 19px 10px 20px;
}
input[type=text] {
    width: 900px;
    margin: 10px 0px 10px 0px;
    padding: 3px 0px 3px 0px;
  }
input[type=email]{
    width: 900px;
    margin: 10px 0px 10px 0px;
   padding: 3px 0px 3px 0px;
}
#message{
    width: 900px;
    margin: 10px 0px 10px 0px;
    height: 200px;
}
input[type=submit]{
    width: 100px;
    height:45px;
    background-color:#4aaaa5 ;
    color: white;
    border: 2px solid #7777;
    font-size: 20px;
}

